.spinner {
  position: relative;
  display: inline-block;
}

.sm { height: 12px; width: 12px; }
.md { height: 16px; width: 16px; }
.lg { height: 24px; width: 24px; }

.spinnerBlade {
  position: absolute;
  height: 25%;
  width: 8%;
  background-color: currentColor; /* use text color */
  border-radius: 2px;
  animation: spinner-blade 1s linear infinite;
  will-change: opacity;
  top: 37%;
  left: 46%;
}

.spinnerBlade:nth-child(1) { transform: rotate(0deg) translateY(-130%); animation-delay: -1.667s; }
.spinnerBlade:nth-child(2) { transform: rotate(30deg) translateY(-130%); animation-delay: -1.583s; }
.spinnerBlade:nth-child(3) { transform: rotate(60deg) translateY(-130%); animation-delay: -1.5s; }
.spinnerBlade:nth-child(4) { transform: rotate(90deg) translateY(-130%); animation-delay: -1.417s; }
.spinnerBlade:nth-child(5) { transform: rotate(120deg) translateY(-130%); animation-delay: -1.333s; }
.spinnerBlade:nth-child(6) { transform: rotate(150deg) translateY(-130%); animation-delay: -1.25s; }
.spinnerBlade:nth-child(7) { transform: rotate(180deg) translateY(-130%); animation-delay: -1.167s; }
.spinnerBlade:nth-child(8) { transform: rotate(210deg) translateY(-130%); animation-delay: -1.083s; }
.spinnerBlade:nth-child(9) { transform: rotate(240deg) translateY(-130%); animation-delay: -1s; }
.spinnerBlade:nth-child(10) { transform: rotate(270deg) translateY(-130%); animation-delay: -0.917s; }
.spinnerBlade:nth-child(11) { transform: rotate(300deg) translateY(-130%); animation-delay: -0.833s; }
.spinnerBlade:nth-child(12) { transform: rotate(330deg) translateY(-130%); animation-delay: -0.75s; }

@keyframes spinner-blade {
  0% { opacity: 0.85; }
  50% { opacity: 0.25; }
  100% { opacity: 0.25; }
}
